@model List<SaafiSystems.Models.Expense>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@ViewBag.Title;

@if (Model.Count == 0)
{
    <p>No  Expenses Yet!</p>
}
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Reference</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Action</th>
        <th></th>
    </tr>
    @foreach (var expense in Model)
    {
        <tr>
            <td>@expense.Date</td>
            <td>@expense.Reference</td>
            <td>@expense.Owner</td>
            <td>@expense.Description</td>
            <td>@expense.Amount</td>
            
            <td>
                <a href="/expense/edit/@expense.ID" class="btn btn-info btn-xs">Edit</a>
                @*@*<input type="checkbox" name="expenseIds" id="@expense.ID" value="@expense.ID" class="btn btn-danger btn-sm" />*@
                @*<input type="submit" value="Delete" class="btn btn-info btn-sm" />*@
            </td>
            <td>
                <a href="/expense/remove/@expense.ID" class="btn btn-danger btn-xs">Delete</a>
                @*<input type="submit" value="Edit" class="btn btn-info btn-sm" />*@
            </td>
        </tr>
    }
</table>
<a asp-controller="Expense" asp-action="Add" class="btn btn-success btn-sm ">+ Add Expense</a>
<a asp-controller="ExpenseCategory" asp-action="Add" class="hidden-xs btn btn-info btn-sm pull-right">+ Add Category</a>
<br />
<br />
@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    Next
</a>*@
</br>